@tailwind base;
@tailwind components;

.nav-link {
    @apply text-accent-light-light dark:text-neutral-50 
    hover:text-primary-light-light dark:hover:text-primary-dark-light 
    font-exo-2 font-normal text-xl leading-none
}

.profile-link {
    @apply text-accent-light-light dark:text-neutral-50 font-exo-2 font-normal text-xl leading-none
    hover:text-primary-light-light dark:hover:text-primary-dark-light whitespace-nowrap	
    overflow-hidden
}

.about-paragraph {
    @apply text-accent-light-light dark:text-neutral-50 font-exo-2 font-normal text-2xl leading-none
}

.button-primary {
    @apply px-3 md:px-6 py-2.5 rounded-[10px] font-exo-2 font-normal text-sm md:text-base leading-none
}

.button-header {
    @apply border border-primary-light-light dark:border-primary-dark-light rounded-[10px] px-5 py-2    
    text-primary-light-light dark:text-primary-dark-light font-exo-2 font-normal text-base leading-none
    hover:bg-primary-light-light dark:hover:bg-primary-dark-light hover:text-neutral-900
}

.dark-overlay-screen {
    @apply after:absolute after:top-0 after:left-0 after:w-full after:h-screen after:z-40 after:dark:bg-filter-dark
}

.slider-x-snap {
    @apply overflow-x-scroll 
    snap-x snap-mandatory overscroll-x-contain
    scrollbar-hide
}

.input-form {
    @apply w-full px-4 py-3 bg-transparent focus:outline-0 border border-accent-light-light dark:border-primary-dark-light rounded-[10px]
    caret-accent-light-light dark:caret-primary-dark-light text-accent-light-light dark:text-primary-dark-light
    placeholder:text-neutral-500 placeholder:font-exo-2 placeholder:font-normal placeholder:text-xl placeholder:leading-none
}

.form-text {
    @apply text-primary-light-light dark:text-primary-dark-light font-exo-2 font-normal text-2xl leading-none 
}

.bottom-fade {
    @apply before:absolute before:h-[20%] before:w-full before:left-0 before:bottom-0
    before:bg-gradient-to-b before:from-transparent before:to-neutral-100 dark:before:to-neutral-800 before:pointer-events-none
}

.mobile-nav {
    @apply h-screen -md:gap-9
    fixed -md:flex-col top-0 right-0 z-40 w-3/4 -md:pt-[102px] -md:px-[3.5rem] 
    -md:bg-filter-extra-dark -md:dark:bg-filter-dark -md:backdrop-blur-sm
}

.about-link {
    @apply flex gap-[14px] items-center max-w-[80%]
}

.flex-between-center {
    @apply flex justify-between items-center
}

.menu-toggle-icon {
    @apply fixed right-6 top-[18px] cursor-pointer z-50 md:hidden
    [&>svg>path]:fill-[#DE4A22] [&>svg>path]:dark:fill-[#4CE0D2]
}

.svg-fill {
    @apply fill-[#DE4A22] dark:fill-[#4CE0D2]
}

.button-light-yellow {
    @apply bg-light-yellow hover:bg-regular-yellow text-secondary-light-light dark:text-light-yellow dark:border-light-yellow
    dark:bg-transparent dark:hover:bg-light-yellow dark:hover:text-neutral-900
}

.button-default {
    @apply bg-primary-light-light hover:bg-primary-light-regular text-secondary-light-light dark:text-primary-dark-light dark:border-primary-dark-light
    dark:bg-transparent dark:hover:bg-primary-dark-light dark:hover:text-neutral-900
}

@tailwind utilities;
